# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=dayflow_db
DB_USERNAME=postgres
DB_PASSWORD=postgres


# Frontend URL for email links
FRONTEND_URL=http://localhost:5500

# Demo Accounts (for seeding)
HR_EMAIL=hr@dayflow.com
HR_PASSWORD=Admin@123
DEMO_EMPLOYEE_EMAIL=john.doe@dayflow.com
DEMO_EMPLOYEE_PASSWORD=Employee@123